{% extends "/index.html.twig" %}

{% block body %}
    <h1>Update Product</h1>

    <form enctype="multipart/form-data" action="/BookStore/updateProduct/{{ product.reference }}" method="post">
        <table>
            <tr>
                <td>
                    Designation
                </td>
                <td>
                    <input value="{{ product.designation }}" name="designation" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Stock Quantity
                </td>
                <td>
                    <input name="quantity" type="number" value="{{ product.quantity }}"> <span>Units</span>
                </td>
            </tr>
            <tr>
                <td>
                    Price
                </td>
                <td>
                    <input name="price" type="number" step="any" value="{{ product.price }}"> <span>$</span>
                </td>
            </tr>
            <tr>
                <td>
                    Photo
                </td>
                <td>
                    <input name="photo" value="{{ product.photo }}" type="file">
                </td>
            </tr>
            <tr>
                <td>
                    Available
                </td>
                <td>
                    <input name="available" type="checkbox" value="{{ product.available }}">
                </td>
            </tr>
            <tr>
                <td>
                    Category
                </td>
                <td>
                    <select name="category">
                        <option value=""></option>
                        {% for category in categories %}
                            {% if category.code == product.category.code %}
                                <option value="{{ category.code }}" selected>{{ category.name }}</option>
                            {% else %}
                                <option value="{{ category.code }}">{{ category.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <input value="Update" type="submit">
                </td>
            </tr>
        </table>
    </form>

    <span>{{ error_message }}</span>
{% endblock %}